{% extends 'base.html' %}
{% load static %}

{% block title %}Best Bakery - About{% endblock %}

{% block content %}
    <header>
        <h2>About Us</h2>
    </header>
    <div class="wrapper">
        <section class="wrap_item about_main">
            <h2>Lorem ipsum dolor!</h2>
            <figure>
                <img class="display-img" src="{% static 'images/about1.jpg' %}" alt="Bakery storefront">
            </figure>
            <p>{% lorem %}</p>
        </section>
        <section class="wrap_item about_item">
            <h3>Massa dolor</h3>
            <p>{% lorem %}</p>
            <figure>
                <img class="display-img" src="{% static 'images/about2.jpg' %}" alt="chocolate eclair">
            </figure>
            <p>{% lorem %}</p>
        </section>
        <div class="wrap_item about_imgs">
            <figure>
                <img class="display-img" src="{% static 'images/about3.jpg' %}" alt="cinnamon buns with icing">
            </figure>
            <figure>
                <img class="display-img" src="{% static 'images/about4.jpg' %}" alt="cupcake">
            </figure>
        </div>
    </div>
{% endblock %}