{% extends 'base.html' %}
{% load static %}

{% block title %}Best Bakery - About{% endblock %}

{% block content %}
    <header>
        <h2>About Us</h2>
    </header>
    <div>
        <section class="about_main">
            <h2>Lorem ipsum dolor!</h2>
            <div class="wrapper">
                <figure class="wrap_item">
                    <img class="display-img" src="{% static 'images/about1.jpg' %}" alt="Bakery storefront">
                </figure>
                <p class="wrap_item">{% lorem %}</p>
            </div>
        </section>
        <section class="wrap_item about_item">
            <header><h3>Massa dolor</h3></header>
            <div class="wrapper">
                <figure class="wrap_item">
                    <img class="display-img" src="{% static 'images/about2.jpg' %}" alt="chocolate eclair">
                </figure>
                <p class="wrap_item">{% lorem %}</p>
            </div>
        </section>
        <div class="wrapper about_imgs">
            <figure class="wrap_item">
                <img class="display-img" src="{% static 'images/about3.jpg' %}" alt="cinnamon buns with icing">
            </figure>
            <figure class="wrap_item">
                <img class="display-img" src="{% static 'images/about4.jpg' %}" alt="cupcake">
            </figure>
        </div>
    </div>
{% endblock %}