{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="main_wrap">
        <header class="main_header">
            <div>
                <a href="/"><img src="{% static 'images/logo.png' %}" alt="bakery logo"></a>
            </div>
            <div>
                <h1>Best Bakery</h1>
                <p class="subtitle">Est. 1988 </p>
            </div>
        </header>
        <div id="nav-btn" class="button nav_btn" tabindex="0">Menu</div>
        <nav id="main_nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <section>
                <h2>Site Map</h2>
                <ul class="styled_list site_map">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                </ul>
            </section>
            <address>
                123 Fake St. <br>
                City, Province VVV 555 <br>
                (555) 555-5555 <br>
                citybakery@example.com
            </address>
        </footer>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    </body>
</html>