{% extends 'base.html' %}
{% load static %}

{% block title %}Best Bakery - Contact{% endblock %}

{% block content %}
    <header>
        <h2>Contact Us</h2>
    </header>
    <div class="wrapper contact_grid">
        <section class="location">
            <h3>Location</h3>
            <ul class="styled_list">
                <li class="contact_item">
                    <strong>Address</strong>: 123 Fake St. City, Province
                </li>
                <li class="contact_item">
                    <strong>Phone</strong>: (555) 555-5555
                </li>
                <li class="contact_item">
                    <strong>Email</strong>: citybakery@example.com
                </li>
            </ul>
            <div class="map_wrap">
                <iframe class="display-img" src="https://www.google.com/embed"></iframe>
            </div>
        </section>
        <section>
            <h3>Hours of Operation</h3>
            <ul class="styled_list">
                <li><strong>Tuesday - Saturday</strong>: 8am - 6pm</li>
                <li><strong>Sunday & Monday</strong>: Closed</li>
                <li>Closed on statutory holidays.</li>
            </ul>
        </section>
        <aside class="comments card">
            <h3>We Want To Hear From You</h3>
            <p>
                Please leave any questions or comments below.  If
                you would like a response, please leave
                your email.
            </p>
            <form method="post" class="input_form">
                {% csrf_token %}
                <div class="input_wrap">
                    <label for="sender_name">Name: </label>
                    <input type="text" id="sender_name" name="sender_name">
                </div>
                <div class="input_wrap">
                    <label for="sender_email">Email: </label>
                    <input type="email" id="sender_email" name="sender_email">
                </div>
                <div class="input_wrap comment_box">
                    <label for="message">Comments: </label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <div class="input_wrap">
                    <input type="submit" value="Send" class="submit-btn">
                </div>
            </form>
            {% if messages %}
                <ul class="response_message">
               {% for message in messages %}
                    <li {% if message.tags %}
                        class="{{ message.tags }}"
                    {% endif %} >
                        {{ message }}
                    {% if message.tags == 'success' %}
                        <a class="response_btn" href="/">Home</a>
                    {% elif message.tags == 'error' %}
                        <a class="response_btn" href="/contact">Try again</a>
                    {% endif %}
                    </li>
               {% endfor %}
                </ul>
            {% endif %}
        </aside>
    </div>
{% endblock %}