{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <header>
        <h2>Home</h2>
    </header>
    <div class="wrapper">
        <div class="wrap_item home_text">
            <p>{% lorem %}</p>
            <div class="wrapper">
                <figure class="rasp_puffs">
                    <img class="display-img" src="{% static 'images/home1.jpg' %}" alt="raspberry cream puffs">
                </figure>
                <figure class="tollhouse">
                    <img class="display-img" src="{% static 'images/home2.jpg' %}" alt="tollhouse chocolate chip cookies">
                </figure>
            </div>
        </div>
        <aside class="wrap_item seasonal_item">
            <p>
                Looking for a Valentine's Day treat? Try our hand-decorated
                sugar cookies! Supplies may be limited, so
                <a href="#" class="text_link">call us</a>
                to ask about availability and place your order.
            </p>
            <figure>
                <img class="display-img" src="{% static 'images/seasonal.jpg' %}" alt="Seasonal item">
            </figure>
        </aside>
    </div>
{% endblock %}
