{% extends 'base.html' %}
{% load static %}

{% block title %}Best Bakery - Products{% endblock %}

{% block content %}
    <header id="top">
        <h2>Our Products</h2>
        <p class="subtitle">
            <a href="/contact" class="text_link">Ask us</a> about product availability and consider ordering ahead of time
        </p>
        <div class="button nav_btn" tabindex="0">See Categories</div>
    </header>
    <div class="wrapper">
        <nav class="sidenav">
            <ul>
                <li><a href="#bread">Bread</a></li>
                <li><a href="#pastries">Assorted Pastries</a></li>
                <li><a href="#pies">Pies</a></li>
                <li><a href="#cakes">Cakes</a></li>
                <li><a href="#top">Top</a></li>
            </ul>
        </nav>
        <section id="bread" class="product wide">
            <h3 class="product_heading">Bread</h3>
            <figure>
                <img class="display-img" src="{% static 'images/products1.jpg' %}" alt="two loaves of rye bread">
            </figure>
            <p class="product_text">{% lorem %}</p>
        </section>
        <section id="pastries" class="product wide">
            <h3 class="product_heading">Assorted Pastries</h3>
            <figure>
                <img class="display-img" src="{% static 'images/products2.jpg' %}" alt="assorted pastries in a display case">
            </figure>
            <p class="product_text">{% lorem %}</p>
        </section>
        <section id="pies" class="product wide">
            <h3 class="product_heading">Pies</h3>
            <figure>
                <img class="display-img" src="{% static 'images/products3.jpg' %}" alt="blueberry pie">
            </figure>
            <p class="product_text">{% lorem %}</p>
        </section>
        <section id="cakes" class="product wide">
            <h3 class="product_heading">Cakes</h3>
            <figure>
                <img class="display-img" src="{% static 'images/products4.jpg' %}" alt="chocolate cake with berries">
            </figure>
            <p class="product_text">{% lorem %}</p>
        </section>
    </div>
{% endblock %}