/* General styles for all pages */
body {
    font-family: "Calibri", sans-serif;
    background-image: linear-gradient(to bottom, rgb(134, 114, 98), rgb(178, 155, 129));
    color: #fff;
    text-shadow: 0.2rem 0.2rem 0.7rem rgb(88, 72, 56);
    margin: 0;
}

header, footer, nav, main {
    width: 100%;
}

header, footer {
    background-image: linear-gradient(to bottom, rgb(57, 48, 38), rgb(95, 78, 61));
    margin: 0;
}

p, li {
    font-size: 1.2rem;
    line-height: 1.5;
}

p {
    padding: 1rem;
}

aside {
    border-radius: 1.2rem;
}

#main_wrap {
    display:flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    gap: 0.5rem;
}

h1 {
    font-size: 1.8rem;
}

.subtitle {
    font-size: 0.9rem;
    font-style: italic;
}

main header {
    background-image: linear-gradient(to bottom, rgb(184, 107, 126), rgb(237, 155, 175));
    padding: 0.5rem;
}

h2 {
    font-size: 1.6rem;
    color: rgb(251, 235, 235);
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.4rem;
}

/* Nav Menu */
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    width: 100%;
    text-align: center;
}

.current_page {
    background-color: rgb(251, 235, 235);
}

nav a:link, .current_page {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

nav a:link, nav a:visited {
    background-color: rgb(208, 170, 172);
    color: #fff;
}

nav a:hover, nav a:focus {
    background-color: #fff;
    color: rgb(208, 170, 172);
    text-shadow: none;
}

nav a:active {
    background-color: rgb(245, 131, 131);
    color: #ffffff;
}

/* Images */
figure {
    margin: 1rem auto;
    padding: 0 0 2rem 2rem;
}

.display-img {
    border-radius: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem -0.1rem rgb(88,72,56);
}

/* Links */
.text_link {
    color:rgb(255, 167, 167);
}

.text_link:visited {
    color:rgb(251,235,235);
}

.text_link:hover {
    color: rgb(184, 62, 92);
}

/* Seasonal item for home page */
.seasonal_item {
    background-image: linear-gradient(to bottom, rgb(198, 108, 130), rgb(202, 130, 145));
}
